<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leaderboard</title>
</head>
<body>
    <div>
        <h2>Leaderboard</h2>
        <table border="1" cellpadding="10" cellspacing="0" style="width: 100%; text-align: left; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>School</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < users.length; i++) { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= users[i].username %></td>
                    <td><%= users[i].school %></td>
                    <td><%= users[i].score %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>