<body>
    <div id="screen">
        <div id="content">
            <center>
                <div class="form">
                    <div class="loginHead">
                        <h2 style="margin: 0; padding: 0.4vw;">Login</h2>
                    </div>
                    <form action="/login" method="POST" style="border: 2px solid black; padding: 20px; width: 25vw; font-size: 1.5vw; background-color: #C0C0C0; font-family: 'MS Sans Serif'; margin-top: 1vw;">
                        <div style="margin-bottom: 15px;">
                            <label for="email" style="display: block; margin-bottom: 10px; font-size: 1.2vw;">Email:</label>
                            <input type="email" id="email" name="email" style="width: 100%; padding: 10px; border: 1px solid black; font-size: 1.2vw;" required placeholder="Email">
                        </div>
                        <div style="margin-bottom: 15px;">
                            <label for="password" style="display: block; margin-bottom: 10px; font-size: 1.2vw;">Password:</label>
                            <input type="password" id="password" name="password" style="width: 100%; padding: 10px; border: 1px solid black; font-size: 1.2vw;" required placeholder="Password">
                        </div>
                        <button type="submit" style="padding: 10px 15px; border: 1px solid black; background-color: #E0E0E0; font-size: 1.2vw;">Login</button>
                    </form>
                </div>
            </center>

            <%- include('partials/nav.ejs') %>
        </div>
    </div>

<style>
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 28vw;
        background-color: #C0C0C0;
        border: 2px solid black;
        margin-right: 10%;
        margin-top: 26vh;
        font-family: 'MS Sans Serif';
    }
    .loginHead{
        background-color: blue; 
        color: white; 
        text-align: center;
        font-size: 1vw;
        padding: 0;
        width: 28vw;
        margin: 0;
    }
</style>
</body>

