<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Login</button>
    </form>
</body>
</html> -->

<body>
    <div id="screen">
        <div id="content">
            <center>
                <div class="form">
                    <div class="loginHead">
                        <h2 style="margin: 0; padding: 0.4vw;">Login</h2>
                    </div>
                    <form action="/login" method="POST" style="border: 2px solid black; padding: 20px; width: 25vw; font-size: 1.5vw; background-color: #C0C0C0; font-family: 'MS Sans Serif'; margin-top: 1vw;">
                        <div style="margin-bottom: 15px;">
                            <label for="email" style="display: block; margin-bottom: 10px; font-size: 1.2vw;">Email:</label>
                            <input type="email" id="email" name="email" style="width: 100%; padding: 10px; border: 1px solid black; font-size: 1.2vw;">
                        </div>
                        <div style="margin-bottom: 15px;">
                            <label for="password" style="display: block; margin-bottom: 10px; font-size: 1.2vw;">Password:</label>
                            <input type="password" id="password" name="password" style="width: 100%; padding: 10px; border: 1px solid black; font-size: 1.2vw;">
                        </div>
                        <button type="submit" style="padding: 10px 15px; border: 1px solid black; background-color: #E0E0E0; font-size: 1.2vw;">Login</button>
                    </form>
                </div>
            </center>

            <div id="menu">
                <div class="menuIt">
                    <div class="start" style="margin-left: 1vw; display: flex; flex-direction: row; gap:1.4vw">
                        <div class="start" style="margin-left: 1vw;">
                            <a href="/">  
                                <img src="https://avatars.githubusercontent.com/u/50449253?s=200&v=4" alt="tech sundi" style="height: 2vw;">
                                Start
                            </a>
                        </div>
                        <div class="login">
                            <a href="/#">  
                                Login
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="menuIt clock">
                    <span id="clock">2024/10/07 11:27:17</span>
                </div>
            </div>
        </div>
    </div>

<style>
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 28vw;
        background-color: #C0C0C0;
        border: 2px solid black;
        margin-right: 10%;
        margin-top: 26vh;
        font-family: 'MS Sans Serif';
    }
    .loginHead{
        background-color: blue; 
        color: white; 
        text-align: center;
        font-size: 1vw;
        padding: 0;
        width: 28vw;
        margin: 0;
    }
</style>
</body>

