<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chall</title>
</head>
<body>
    <form action="/admin/new/" method="POST">
        <select id="type" name="type">
            <option value="cryptic">Cryptic</option>
            <option value="ctf">CTF</option>
        </select>
        <input type="text" class="text" name="title" placeholder="level title">
        <input type="text" class="text" name="lvlText" placeholder="level text">
        <input type="number" class="text" name="lvlNo" placeholder="level number">
        <input type="text" class="text" name="lvlCr" placeholder="level made by">
        <input type="text" class="text" name="lvlImg" placeholder="level image link">
        <input type="text" class="text" name="answer" placeholder="answer">
        <input type="number" class="text" name="points" placeholder="points">
        <button type="submit">submit</button>
    </form>
</body>
</html>